/*.slider {
    width: 100%;
    border-radius: 20px;
    background: rgb(244, 239, 233);

}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.text__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.title__slider {
    font-size: 38px;
    max-width: 250px;
    margin: 0;
    margin-bottom: 10px;
}

.slider-btn {
    max-width: 180px;
    border-radius: 110px;
    background: rgb(165, 211, 100);
    font-size: 16px;
    color: #fff;
    padding: 15px 65px;
    border: none;
}

hr {
    margin: 50px 0;
}*/

.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    background: rgb(244, 239, 233);
    overflow: hidden;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.text__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
}

.title__slider {
    font-size: 38px;
    max-width: 250px;
    margin: 0;
    margin-bottom: 10px;
}

.slider-btn {
    max-width: 180px;
    border-radius: 110px;
    background: rgb(165, 211, 100);
    font-size: 16px;
    color: #fff;
    padding: 15px 65px;
    border: none;
    cursor: pointer;
}

.img-slider img {
    max-width: 100%;
    border-radius: 20px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    font-size: 18px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.prev {
    left: -15px;
    color: black;
}

.next {
    right: -15px;
    color: black;
    z-index: 0;
}

.slider-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: rgba(255, 255, 255, 0.8);
}